@()(implicit request: RequestHeader, flash: Flash)


@main("Login") {

  <h2>Login</h2>
    
  <form method="post" action="@routes.messageboard.validatelogin">
    @helper.CSRF.formField
      Username: <input type="text" name="Username" id = "Username-Login"></input>
      Password: <input type="text" name="Password" id ="Password-Login"></input>
      <input type="submit" value = "Login"></input>
  </form>

  
  <form method="post" action="@routes.messageboard.createlogin">
    @helper.CSRF.formField
    
  <h2> Create User</h2>
      Username: <input type="text" name="Username" id ="Username-Login"></input>  
      Password: <input type="text" name="Password" id ="Password-Login"></input>
      <input type="submit" value = "Login"></input>
      
  </form>

}